{% block header %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img class="w-full rounded-l-3xl lg:w-auto 2xl:h-full 2xl:max-w-none" src="https://stories.freepiklabs.com/storage/51142/Niche-Service-Marketplace_Artboard-1-copy.svg" alt="WConnect">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">The easy way to connect with your customers</h1>
            <p class="lead">Create customized messages and use QR codes to connect quickly to your customers. With
                WappLink,
                you can personalize the messages with just a few clicks</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Get started for Free!</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}